
/* HEADER */
#imgProfile img{
    width: 230px;
    height: 230px;
    border-radius: 25px;
}

body{
    background-image: url("img/wave-haikei.svg");
    background-size: cover;
}

#DecaleBlock{
    padding-left: 16em;
}


/* LES TITRES */

h1{
    font-size: 2em;
    font-family: fantasy;
    color:rgb(201, 193, 173) ;
}

h{
    font-size: 2em;
    font-family: fantasy;
    color:rgb(201, 193, 173) ;
}


/* */
p{
    font-family: Georgia, 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    color: rgb(145, 110, 97);
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    color: rgb(145, 110, 97);
}


/* LES LOGO */
#logoGit{
    width: 30px;
    height: 30px;
}

#logoLinkedIng{
    width: 25px;
    height: 25px;
}

#logoMAIL{
    width: 25px;
    height: 25px;
}